#tl_navigation .group-beekeeping {
    background: url('../icons/beekeeping.png') 0 0 no-repeat;
}
#tl_moverview h2 {
    background: none repeat scroll 0 0 #F6F6F6;
    border-top: 1px solid #E9E9E9;
    margin: 18px 0 0;
    padding: 2px 6px 3px;
}

#tl_moverview .tl_module_desc {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E9E9E9;
    padding: 8px 6px;
}

#tl_moverview .tl_module_desc h3 {
    margin: 0 0 1px;
    padding: 0;
}
/* custom button-styles*/
.pdf_export{
    background:url("../icons/iconPDF.gif") no-repeat left center;
    padding-left: 18px;
    margin-left: 10px;
}
.csv_export{
    background:url("../icons/iconCSV.png") no-repeat left center;
    padding-left: 18px;
    margin-left: 10px;
}
